@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: メイリオ, serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 0;
}

table {
  border-collapse: separate;
  border-spacing: 1px;
}

.visible-pc {
  display: none;
}

@media screen and (min-width: 641px) {
  .visible-pc {
    display: block;
  }
  .visible-sp {
    display: none;
  }
}
.l-header {
  height: 217px;
  /* ナビ開いてる時のバツボタン */
  /* ナビメニュー内 */
  /* ハンバーガーメニュー押してactiveクラスを付いたら表示する */
}
.l-header__text-wrapper {
  background-color: #00a0e9;
  height: 53px;
  width: 100%;
}
.l-header__text {
  font-size: 1.4rem;
  padding-top: 5px;
  padding-left: 1.333vw;
  line-height: 1.57;
  color: #fff;
}
.l-header__content-wrapper {
  position: relative;
  height: 107px;
}
.l-header__img-wrapper01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  padding-top: 16px;
}
.l-header__svg-wrapper {
  max-width: 176px;
}
.l-header__svg-wrapper svg {
  width: 100%;
}
.l-header__img-wrapper02 {
  position: absolute;
  top: 65px;
  left: 4.267vw;
}
.l-header__img-wrapper02 img {
  max-width: 100%;
  aspect-ratio: auto 166/32;
  height: auto;
}
.l-header__img-wrapper03 {
  position: absolute;
  top: 65px;
  right: 4.267vw;
}
.l-header__img-wrapper03 img {
  max-width: 100%;
  aspect-ratio: auto 166/32;
  height: auto;
}
.l-header__menu {
  width: 92%;
  height: 47px;
  background-color: #00a0e9;
  margin: 0 auto;
  position: relative;
}
.l-header__burger-btn {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 50px;
  height: 47px;
  cursor: pointer;
}
.l-header__burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: translate(8px, 0px);
}
.l-header__burger-btn span:nth-child(1) {
  top: 10px;
}
.l-header__burger-btn span:nth-child(2) {
  top: 21px;
}
.l-header__burger-btn span:nth-child(3) {
  top: 33px;
}
.l-header__burger-btn.active span:nth-child(1) {
  top: 20px;
  left: 8px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.l-header__burger-btn.active span:nth-child(2), .l-header__burger-btn.active span:nth-child(3) {
  top: 20px;
  left: 8px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.l-header__burger-menu {
  display: none;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100px;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  font-size: 2.4rem;
}
.l-header__burger-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  padding-top: 47px;
}
.l-header__burger-menu ul__burger-menu-link:first-child {
  padding-top: 28px;
}
.l-header__burger-menu-link {
  list-style-type: none;
  padding: 0;
  width: 160px;
  transition: 0.4s all;
  padding-top: 7px;
}
.l-header__burger-menu-link:last-child {
  padding-bottom: 0;
}
.l-header__burger-menu-link a {
  display: block;
  color: #333;
  height: 36px;
  padding-left: 1px;
  text-decoration: none;
}
.l-header__burger-menu-link a::before {
  content: url(https://takaki-blog.com/Designcomp_01/img/sp/グループ-51.svg);
  padding-right: 9px;
  vertical-align: middle;
}
.l-header__burger-menu.active {
  display: block;
  visibility: visible;
}
.l-header.height {
  height: 559px;
}

@media screen and (min-width: 641px) {
  .l-header {
    height: 124px;
  }
  .l-header__text-wrapper {
    height: 26px;
  }
  .l-header .l-header__text {
    padding-left: min(18.438vw, 295px);
  }
  .l-header__content-wrapper {
    position: relative;
    max-width: 1300px;
    width: 100vw;
    margin: 0 auto;
    height: 98px;
    display: flex;
    justify-content: space-between;
  }
  .l-header__img-wrapper01 {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    width: min(59.25vw, 948px);
  }
  .l-header__img-wrapper01 img {
    max-width: 248px;
    width: 46%;
  }
  .l-header__svg-wrapper {
    max-width: 300px;
  }
  .l-header__img-wrapper03 {
    position: static;
    padding-top: 17px;
  }
  .l-header__img-wrapper03 img {
    max-width: 335px;
    width: 90%;
  }
  .l-header__menu {
    width: 92%;
    height: 47px;
    background-color: #00a0e9;
    margin: 0 auto;
    position: relative;
  }
  .l-header .burger-btn {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 50px;
    height: 47px;
    cursor: pointer;
  }
  .l-header .burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    left: 0px;
    background-color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: translate(8px, 0px);
  }
  .l-header .burger-btn span:nth-child(1) {
    top: 10px;
  }
  .l-header .burger-btn span:nth-child(2) {
    top: 21px;
  }
  .l-header .burger-btn span:nth-child(3) {
    top: 33px;
  }
}
.l-footer {
  width: 100%;
  /* ナビ開いてる時のバツボタン */
  /* ナビメニュー内 */
  /* ハンバーガーメニュー押してactiveクラスを付いたら表示する */
}
.l-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 41px;
  transform: translate(-6px, -1px);
  padding-bottom: 40px;
}
.l-footer__wrapper img {
  transform: translate(14px, -1px);
}
.l-footer__img-wrapper {
  display: flex;
  flex-direction: row;
}
.l-footer__img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 338/58;
  height: auto;
}
.l-footer__svg-wrapper {
  max-width: 176px;
}
.l-footer__svg-wrapper svg {
  width: 100%;
}
.l-footer__text {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  font-size: 1.4rem;
  transform: translate(2px, 2px);
}
.l-footer__menu {
  width: 92%;
  height: 47px;
  background-color: #00a0e9;
  margin: 0 auto;
  position: relative;
}
.l-footer__burger-btn {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 50px;
  height: 47px;
  cursor: pointer;
}
.l-footer__burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: translate(8px, 0px);
}
.l-footer__burger-btn span:nth-child(1) {
  top: 10px;
}
.l-footer__burger-btn span:nth-child(2) {
  top: 21px;
}
.l-footer__burger-btn span:nth-child(3) {
  top: 33px;
}
.l-footer__burger-btn.active span:nth-child(1) {
  top: 20px;
  left: 8px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.l-footer__burger-btn.active span:nth-child(2), .l-footer__burger-btn.active span:nth-child(3) {
  top: 20px;
  left: 8px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.l-footer__burger-menu {
  display: none;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100px;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  font-size: 2.4rem;
}
.l-footer__burger-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  padding-top: 47px;
}
.l-footer__burger-menu ul__burger-menu-link:first-child {
  padding-top: 28px;
}
.l-footer__burger-menu-link {
  list-style-type: none;
  padding: 0;
  width: 160px;
  transition: 0.4s all;
  padding-top: 7px;
}
.l-footer__burger-menu-link:last-child {
  padding-bottom: 0;
}
.l-footer__burger-menu-link a {
  display: block;
  color: #333;
  height: 36px;
  padding-left: 1px;
  text-decoration: none;
}
.l-footer__burger-menu-link a::before {
  content: url(https://takaki-blog.com/Designcomp_01/img/sp/グループ-51.svg);
  padding-right: 9px;
  vertical-align: middle;
}
.l-footer__burger-menu.active {
  display: block;
  visibility: visible;
}
.l-footer__wrapper.height {
  padding-top: 330px;
  z-index: -1;
  position: relative;
}

@media screen and (min-width: 641px) {
  .l-footer__nav-wrapper {
    width: 100vw;
    height: 60px;
    border: 1px solid #ebece7;
    background-color: #00a0e9;
  }
  .l-footer__nav-lists {
    max-width: 1010px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .l-footer__nav-lists .l-footer__nav-item:last-child::after {
    content: "";
    border-left: 1px solid #fff;
    display: block;
    height: 30px;
    width: 1px;
    position: absolute;
    right: 0;
  }
  .l-footer__nav-item {
    position: relative;
    width: 200px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l-footer__nav-item:before {
    content: "";
    border-left: 1px solid #fff;
    height: 30px;
    width: 1px;
    position: absolute;
    left: 0;
  }
  .l-footer__img-wrapper {
    display: flex;
  }
  .l-footer__img-wrapper img {
    aspect-ratio: auto 264/46;
  }
  .l-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 44px;
    padding-bottom: 40px;
  }
  .l-footer__wrapper img {
    padding-left: 50px;
    height: 46px;
    transform: translate(14px, 5px);
  }
  .l-footer__svg-wrapper {
    max-width: 300px;
  }
  .l-footer__text {
    width: 100%;
    padding-top: 42px;
    text-align: center;
    font-size: 1.4rem;
    transform: translate(2px, 2px);
  }
}
.l-sidebar {
  padding-top: 30px;
}
.l-sidebar__movie-wrapper {
  padding: 29px 0;
}
.l-sidebar__ttl {
  width: 91.467%;
  height: 40px;
  font-size: 2.2rem;
  font-weight: bold;
}
.l-sidebar__ttl::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 30px;
  border-left: 7px solid #00a0e9;
  vertical-align: middle;
  padding-right: 10px;
}
.l-sidebar__movie {
  width: 100%;
  height: 208px;
}
.l-sidebar__store-wrapper {
  padding-top: 2px;
  padding-bottom: 18px;
}
.l-sidebar__img-wrapper {
  width: 100%;
  height: 228px;
}
.l-sidebar__btn-img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 342/65;
  height: auto;
}
.l-sidebar__store-img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 343/228;
  height: auto;
}
.l-sidebar__online-img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 343/106;
  height: auto;
}
.l-sidebar__store-text {
  line-height: 2.21;
}
.l-sidebar__blog-container {
  color: #00a0e9;
  font-weight: bold;
  padding-bottom: 14px;
}
.l-sidebar__blog-date {
  margin-top: 15px;
  font-weight: normal;
}
.l-sidebar__blog-heading {
  line-height: 1.75;
  -webkit-text-decoration: underline solid #00a0e9;
  text-decoration: underline solid #00a0e9;
  height: 81px;
  background-image: linear-gradient(to right, #aaaaaa, #aaaaaa 2px, transparent 1px, transparent 3px); /* 幅1の線を作る */
  background-size: 3px 1px; /* グラデーションの幅・高さを指定 */
  background-position: left bottom; /* 背景の開始位置を指定 */
  background-repeat: repeat-x; /* 横向きにのみ繰り返す */
}
.l-sidebar__banner-wrapper {
  width: 100%;
  height: 94px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  margin-top: 10px;
}
.l-sidebar__banner-store-wrapper {
  margin-top: 30px;
}
.l-sidebar__blog-permalink {
  display: block;
}

@media screen and (min-width: 641px) {
  .l-sidebar {
    width: 258px;
    padding-top: 40px;
  }
  .l-sidebar__movie {
    width: 100%;
    height: 157px;
  }
  .l-sidebar__store-wrapper {
    padding-top: 2px;
    padding-bottom: 24px;
  }
  .l-sidebar__btn-img-wrapper img {
    aspect-ratio: auto 258/49;
  }
  .l-sidebar__store-img-wrapper img {
    aspect-ratio: auto 258/172;
  }
  .l-sidebar__online-img-wrapper img {
    aspect-ratio: auto 258/80;
  }
  .l-sidebar__store-text {
    line-height: 2.21;
    font-size: 1.4rem;
    padding-top: 7px;
  }
  .l-sidebar__blog-heading {
    height: 75px;
  }
  .l-sidebar__blog-permalink {
    line-height: 1.75;
  }
}
.l-main {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1607843137);
}

@media screen and (min-width: 641px) {
  .l-main {
    padding-bottom: 137px;
  }
  .l-main__container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 1010px;
  }
}
.c-inner {
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 641px) {
  .c-inner {
    width: 100%;
    max-width: 1010px;
    padding: 0;
    margin: 0 auto;
  }
}
.c-title {
  width: 100%;
  height: 50px;
  background-color: #e7ecd5;
  padding: 10px;
  font-size: 2.2rem;
  font-weight: bold;
}
.c-title::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 30px;
  border-left: 7px solid #00a0e9;
  vertical-align: middle;
  padding-right: 10px;
}

@media screen and (min-width: 641px) {
  .c-title {
    width: 97.34%;
  }
}
.c-button {
  display: block;
  position: absolute;
  width: 190px;
  height: 36px;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #f39800;
  border-radius: 6px;
  color: #fff;
  padding: 12px 21.1px 7px 38px;
  right: 1%;
  margin-top: 10px;
}
.c-button::before {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  bottom: 0;
  content: "";
  height: 10px;
  margin: auto;
  position: absolute;
  right: 26px;
  top: 0;
  transform: rotate(45deg);
  width: 10px;
}
.c-button:hover {
  background-color: #f39800;
  filter: brightness(150%);
}

@media screen and (min-width: 641px) {
  .c-button {
    position: absolute;
    right: 20px;
  }
}
.p-index-fv__img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-fv__img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 375/175;
  height: auto;
}

@media screen and (min-width: 641px) {
  .p-index-fv__img-wrapper img {
    aspect-ratio: auto 1300/346;
  }
  .p-index-fv__nav-wrapper {
    width: 100vw;
    height: 95px;
    border: 1px solid #ebece7;
  }
  .p-index-fv__nav-lists {
    max-width: 1010px;
    width: 100%;
    height: 95px;
    margin: 0 auto;
    display: flex;
    font-weight: bold;
  }
  .p-index-fv__nav-lists .p-fv__nav-item:last-child::after {
    content: "";
    border-left: 1px solid #cccccc;
    display: block;
    height: 48px;
    width: 1px;
    position: absolute;
    right: 0;
  }
  .p-index-fv__nav-item {
    position: relative;
    width: 200px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-index-fv__nav-item:before {
    content: "";
    border-left: 1px solid #cccccc;
    display: block;
    height: 48px;
    width: 1px;
    position: absolute;
    left: 0;
  }
}
.p-index-news {
  padding-top: 20px;
  padding-bottom: 87px;
}
.p-index-news__wrapper {
  margin-top: 21px;
}
.p-index-news__date {
  color: #aaaaaa;
  font-weight: normal;
  height: 24px;
  padding-bottom: 9px;
}
.p-index-news__heading {
  color: #00a0e9;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.45;
  padding-bottom: 16px;
}
.p-index-news__permalink {
  display: block;
}

@media screen and (min-width: 641px) {
  .p-index-news {
    padding-top: 40px;
    padding-bottom: 87px;
  }
  .p-index-news__wrapper {
    width: 97.34%;
    margin-top: 21px;
  }
  .p-index-news__date {
    color: #aaaaaa;
    font-weight: normal;
    height: 24px;
    padding-bottom: 9px;
  }
  .p-index-news__heading {
    color: #00a0e9;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.45;
    padding-bottom: 16px;
  }
}
.p-index-course {
  padding-bottom: 39px;
}
.p-index-course__text {
  padding-top: 20px;
  line-height: 1.75;
  padding-bottom: 16px;
}
.p-index-course__img-wrapper01 img {
  width: 30.851%;
  max-width: 100%;
  aspect-ratio: auto 109/122;
  height: auto;
}
.p-index-course__img-wrapper02 {
  padding-left: 3px;
}
.p-index-course__img-wrapper02 img {
  width: 30.851%;
  max-width: 100%;
  aspect-ratio: auto 109/122;
  height: auto;
}
.p-index-course__img-wrapper03 {
  padding-left: 2px;
}
.p-index-course__img-wrapper03 img {
  width: 30.851%;
  max-width: 100%;
  aspect-ratio: auto 109/122;
  height: auto;
}

@media screen and (min-width: 641px) {
  .p-index-course__img-wrapper01 img {
    aspect-ratio: auto 232/260;
  }
  .p-index-course__img-wrapper02 {
    padding-left: min(0.75vw, 12px);
  }
  .p-index-course__img-wrapper02 img {
    aspect-ratio: auto 232/260;
  }
  .p-index-course__img-wrapper03 {
    padding-left: min(0.75vw, 12px);
  }
  .p-index-course__img-wrapper03 img {
    aspect-ratio: auto 232/260;
  }
}
.p-index-voice__permalink {
  margin-top: 24px;
  border: 1px solid #cecebf;
  padding: 16px;
  background-color: #fff;
  display: block;
}
.p-index-voice__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-4px, 0);
}
.p-index-voice__img-wrapper img {
  max-width: 100%;
  aspect-ratio: auto 178/178;
  height: auto;
}
.p-index-voice__content {
  padding-top: 16px;
}
.p-index-voice__heading {
  font-size: 1.8rem;
  color: #00a0e9;
  font-weight: bold;
  line-height: 1.77;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 21px;
}
.p-index-voice__text {
  line-height: 1.75;
  margin-bottom: 30px;
}
.p-index-voice__date {
  padding-right: 1em;
}
.p-index-voice__tag-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 641px) {
  .p-index-voice__card {
    width: 97.34%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
  }
  .p-index-voice__permalink {
    display: flex;
    padding: 25px;
    padding-right: 22px;
  }
  .p-index-voice__content {
    padding-top: 0;
    padding-left: 25px;
  }
  .p-index-voice__heading {
    font-size: 2.2rem;
    line-height: 1.45;
  }
  .p-index-voice__text {
    margin-bottom: 45px;
  }
}
.p-index-contact__wrapper {
  padding-top: 65px;
}
.p-index-contact__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.p-index-contact__img-wrapper01 {
  max-width: 100%;
  aspect-ratio: auto 264/46;
  height: auto;
}
.p-index-contact__img-wrapper02 {
  max-width: 100%;
  aspect-ratio: auto 335/64;
  height: auto;
}

@media screen and (min-width: 641px) {
  .p-index-contact__wrapper {
    padding-top: 10px;
    height: 134px;
    width: 100%;
    max-width: 732px;
    margin-top: 40px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-index-contact__img-wrapper01::after {
    content: "";
    border-right: 1px solid #cccccc;
    width: 1px;
    height: 64px;
    display: block;
    margin-right: 30px;
    padding-left: 30px;
  }
}

/*# sourceMappingURL=common.css.map */
