@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// newsセクション
.p-index-news {
  padding-top: 20px;
  padding-bottom: 87px;
  &__wrapper {
    margin-top: 21px;
  }
    &__date {
      color: import.$color-date;
      font-weight: normal;
      height: 24px;
      padding-bottom: 9px;
    }
    &__heading {
      color: import.$color-blue;
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 1.45;
      padding-bottom: 16px;
    }
  &__permalink{
    display: block;
  }
}

@include m.mq(pc) {
  .p-index-news {
    padding-top: 40px;
    padding-bottom: 87px;
    &__wrapper {
      width: 97.34%;
      margin-top: 21px;
    }
      &__date {
        color: import.$color-date;
        font-weight: normal;
        height: 24px;
        padding-bottom: 9px;
      }
      &__heading {
        color: import.$color-blue;
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 1.45;
        padding-bottom: 16px;
      }
  }
}
