@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// contactセクション
.p-contact {
  &__wrapper{
    padding-top: 65px;
  }
  &__img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@include m.mq(pc) {
  .p-contact {
    &__wrapper{
      padding-top: 10px;
      height: 134px;
      width: 100%;
      max-width: 732px;
      margin-top: 40px;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img-wrapper01{
      &::after{
        content: "";
        border-right: 1px solid import.$color-border;
        width: 1px;
        height: 64px;
        display: block;
        margin-right: 30px;
        padding-left: 30px;
      }
    }
  }

}
