@use "../foundation/import";
@use "../mixin" as m;
// Base (Mobile First)

// sidebarセクション
.l-sidebar {
  padding-top: 30px;
  &__movie-wrapper {
    padding: 29px 0;
  }
  &__ttl {
    width: 91.467%;
    height: 40px;
    font-size: 2.2rem;
    font-weight: bold;
    &::before {
      display: inline-block;
      content: "";
      width: 7px;
      height: 30px;
      border-left: 7px solid import.$color-blue;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
  &__movie {
    width: 100%;
    height: 208px;
  }
  &__store-wrapper {
    padding-top: 2px;
    padding-bottom: 18px;
  }
  &__img-wrapper {
    width: 100%;
    height: 228px;
    img{
      max-width: 100%;
      aspect-ratio: auto 342/65;
      height: auto;
    }
  }
  &__btn-img-wrapper{
    img{
      max-width: 100%;
      aspect-ratio: auto 342/65;
      height: auto;
    }
  }
  &__store-img-wrapper{
    img{
      max-width: 100%;
      aspect-ratio: auto 343/228;
      height: auto;
    }
  }
  &__online-img-wrapper{
    max-width: 100%;
    aspect-ratio: auto 343/106;
    height: auto;
  }

  &__store-text {
    line-height: 2.21;
  }
  &__blog-container {
    color: import.$color-blue;
    font-weight: bold;
    padding-bottom: 14px;
  }
    &__blog-date {
      margin-top: 15px;
      font-weight: normal;
    }
    &__blog-heading {
      line-height: 1.75;
      -webkit-text-decoration:underline solid import.$color-blue;
      text-decoration:underline solid import.$color-blue;
      height: 81px;
      background-image: linear-gradient(
        to right,
        import.$color-date,
        import.$color-date 2px,
        transparent 1px,
        transparent 3px
      ); /* 幅1の線を作る */
      background-size: 3px 1px; /* グラデーションの幅・高さを指定 */
      background-position: left bottom; /* 背景の開始位置を指定 */
      background-repeat: repeat-x; /* 横向きにのみ繰り返す */
    }

  &__banner-wrapper {
    width: 100%;
    height: 94px;
    background-color: import.$color-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    margin-top: 10px;
  }
  &__banner-store-wrapper {
    margin-top: 30px;
  }
  &__blog-permalink{
    display: block;
  }
}

@include m.mq(pc) {
  .l-sidebar {
    width: 258px;
    padding-top: 40px;
    &__movie {
      width: 100%;
      height: 157px;
    }
    &__store-wrapper {
      padding-top: 2px;
      padding-bottom: 24px;
    }
    &__btn-img-wrapper{
      img{
        aspect-ratio: auto 258/49;
      }
    }
    &__store-img-wrapper{
      img{
        aspect-ratio: auto 258/172;
      }
    }
    &__online-img-wrapper{
      aspect-ratio: auto 258/80;
    }
    &__store-text {
      line-height: 2.21;
      font-size: 1.4rem;
      padding-top: 7px;
    }
      &__blog-heading {
        height: 75px;
      }
    &__blog-permalink{
      line-height: 1.75;
    }
  }
}
